/* The animation code */
@keyframes example {
  from {box-sizing: border-box; red;}
  to {background-color: yellow;}
}

/* The element to apply the animation to */



/* Reset styles */
* {
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f3f0f0;
  color: #333;
  line-height: 1.6;
  font-size: 1em;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color:#828282;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: black;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
}

/* Header styles */
header {
  background-color: #B8B8B8;
  color: white;
  padding: 20px;
  text-align: center;
}

header img {
  max-width: 5%;
  border-radius: 50%;
  margin-bottom: 20px;
}
.projects-parent {
  width: 100%;
}

header h1 {
  font-size: 24px;
}

#bio {
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
  width: 100%;
}
.title-child {
  text-align: center;
  display: flex;
  justify-content: center;
}

#bio p {
  font-weight: 500;
  width: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.projects-parent {
  gap: 2em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  box-shadow: black;

}

.project {
  width: 20%;
  height: 20%;
  background-color: #f3f0f0;
  border: 1px solid #ddd;
  border-radius: 8px #FFF4E6;
  padding: 1em 2em;
  transition: transform 0.3s ease-in-out;
  text-align: center;
}
.project:hover {
  transform: scale(1.05);

  
}

.project h3 {
  justify-content: center;
  text-align: center;
  color: black;
  display: flex;
}

.project p {
  align-items: center;
  justify-content: center;
  color: #555;
  display: flex;
}
.contact {
  width: 250em;
  color: white;
  background-color: #828282 ;
  padding: 1em;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  header img {
    max-width: 50%;
  }

  .project {
    flex: 100%;
    max-width: 100%;
  }
}
